 <ul class="nav nav-pills">
  <li *ngFor="let menuItem of getSchoolMenu()" class="nav-item">
    <a class="nav-link" [class.active]="activeMenuItem == menuItem.menuKey" (click)="activeMenuItem = menuItem.menuKey">{{ menuItem.menuText }}</a>
  </li>
</ul> 
<div [ngSwitch]="activeMenuItem" style="border: solid;">
    <div *ngSwitchCase="'admission'">Admission section</div>
    <div *ngSwitchCase="'about-us'">Our School is founded on the principles of self-learning!</div>
    <div *ngSwitchCase="'contact-us'">You can directly come to our school to contact us!</div>
    <div *ngSwitchDefault="'contact-us'">You can't see me!</div>
</div>