<h2>We have {{teachers.length}} teachers in our school!</h2>
<h3 *ngIf="teachers.length % 2 == 0; then evenTeachers else oddTeachers"></h3>
<ng-template #oddTeachers><i>We have odd number of teachers!</i></ng-template>
<ng-template #evenTeachers><u>We have even number of teachers!</u></ng-template>
<table>
    <tr>
        <td><b>Name</b></td>
        <td><b>Subject</b></td>
        <td><b>Date of Joining</b></td>
        <td><b>Leave From</b></td>
        <td><b>Status</b></td>
    </tr>
    <tr *ngFor="let teacher of teachers; index as i">
        <td>{{teacher.name}}</td>
        <td>{{teacher.subject | shorten}}</td>
        <td>{{teacher.doj | date:"dd-MMM-yyyy"}}</td>
        <td>{{teacher.lwd | date:"dd-MMM-yyyy"}}</td>
        <td><employment-status [emp-index] = "i" [is-working]="!(teacher.lwd)" (go-on-leave) = "ptoTeacher($event)"></employment-status></td>
    </tr><tr>
        <td><input [(ngModel)] = "teacherName"/></td>
        <td><input [(ngModel)] ="teacherSubject"/></td>
        <td><input [(ngModel)] ="teacherDoj" type="date"/></td>
        <td><button (click)="addTeacher()">Add</button><br/></td>
    </tr>
</table>
<div [hidden]="!anyTeacherOnLeave()">One or more teacher is on leave!</div>
<button (click) = "reverse()">Reverse</button>